.title {
  text-align: left;
  font-size: 45px;
  font-weight: 800;
}

.container {
  width: 100%;
  margin-top: 40px;
  height: 460px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}

.container > * {
  height: 100%;
}

.mainImage {
  height: 260px;
  grid-column: 1 / 3;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-image: url('../../assets/images/image-web-3-desktop.jpg');
}

.containerTitle {
  grid-column: 1 / 2;
}

.containerButton {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: start;
  grid-column: 2 / 3;
}
